<div class="container-fluid">
    <header>
        <h1>SpacEx Launch Programs</h1>
    </header>
    <section>
        <div class="row">
            <div class="col-md-3">
                <div class="filters p-3">
                    <div>Filters</div>
                    <div class="border-bottom text-center">Filter Year</div>
                    <div class="row">
                        <table class="w-100 text-center">
                            <tr>
                                <td>
                                    <button id="2006" class="btn py-1 px-3" (click)="setYear(2006)" [ngClass]="{'active' : yearbutton === 2006}">2006</button>
                                </td>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2007)" [ngClass]="{'active' : yearbutton === 2007}">2007</button>     
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2008)" [ngClass]="{'active' : yearbutton === 2008}">2008</button>
                                </td>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2009)" [ngClass]="{'active' : yearbutton === 2009}">2009</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2010)" [ngClass]="{'active' : yearbutton === 2010}">2010</button>
                                </td>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2011)" [ngClass]="{'active' : yearbutton === 2011}">2011</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2012)" [ngClass]="{'active': yearbutton === 2012}">2012</button>
                                </td>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2013)" [ngClass]="{'active': yearbutton ===2013}">2013</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2014)" [ngClass]="{'active' : yearbutton===2014}">2014</button>
                                </td>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2015)" [ngClass]="{'active' : yearbutton===2015}">2015</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2016)" [ngClass]="{'active' : yearbutton===2016}">2016</button>
                                </td>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2017)" [ngClass]="{'active': yearbutton===2017}">2017</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2018)" [ngClass]="{'active': yearbutton===2018}">2018</button>
                                </td>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2019)" [ngClass]="{'active': yearbutton===2019}">2019</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn py-1 px-3" (click)="setYear(2020)" [ngClass]="{'active': yearbutton===2020}">2020</button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                    <div class="border-bottom text-center">Successfull Launch</div>
                    <!-- <table class="w-100 text-center">
                        <tr>
                            <td>
                                <button (click)="setLaunch(true)" class="btn py-1"  [ngClass]="{'active' : isActiveLanuch(true)}">True</button>
                            </td>
                            <td>
                                <button (click)="setLaunch(false)" class="btn py-1"  [ngClass]="{'active' : isActiveLanuch(false)}">False</button>
                            </td>
                        </tr>
                    </table>   -->

                    <table class="w-100 text-center">
                        <tr>
                            <td>
                                <button class="btn py-1"  (click)="onClick(1)" [ngClass]="{'active':launchbutton==='successlaunch'}">True</button>
                            </td>
                            <td>
                            <button class="btn py-1"  (click)="onClick(2)" [ngClass]="{'active':launchbutton==='failedlaunch'}">False</button>
                            </td>
                        </tr>
                    </table>  
                    <div class="border-bottom text-center">Successfull Landing</div>
                    <table class="w-100 text-center">
                        <tr>
                            <td>
                                <button id="landingt" (click)="onClickLanding(true)" class="btn py-1"  [ngClass]="{'active':landingbutton==='successlanding'}">True</button>
                            </td>
                            <td>
                                <button (click)="onClickLanding(false)" class="btn py-1"  [ngClass]="{'active':landingbutton==='failedlanding'}">False</button>
                            </td>
                        </tr>
                    </table>    
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" *ngIf="launches">
                    <div class="col-md-6 col-lg-3" *ngFor="let data of launches">
                        <div class="card p-2 mb-3">
                            <img [src]=data.links.mission_patch_small  class="w-100 mb-2"/>
                            <span class="card__title font-weight-bold pb-2">
                                {{data.mission_name}} #{{data.flight_number}}
                            </span>
                            <ul class="list-unstyled">
                                <li class="pb-1">
                                    <label class="font-weight-bold">
                                        Missin Ids:
                                    </label> 
                                    {{data.mission_id}}
                                </li>
                                <li class="pb-1">
                                    <label class="font-weight-bold">Launch Year :</label>{{data.launch_year}}
                                </li>
                                <li class="pb-1">
                                    <label class="font-weight-bold">
                                        Successfull Launch : 
                                    </label>{{data.launch_success}}
                                </li>
                                <li class="pb-1">
                                    <label class="font-weight-bold">
                                        Successfull Landing :
                                    </label>{{data.land_success}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngIf="loading" class="text-center">
                    <div class="loader"></div>
                    <h2>..{{notifyText}}..</h2>
                </div>
            </div>
        </div>
    </section>
</div>